.introduction{
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    z-index: 99;
    background-color: #f2f2f2;
    svg{
        position: absolute;
        top: 0;
        width: 100%;
        height: calc(100% + 300px);
        path{
            fill: #ffffff;
        }
    }
    p{
        display: flex;
        color: black;
        font-size: 42px;
        align-items: center;
        position: absolute;
        z-index: 1;

    }
}